CLOUDFLARE_API_TOKEN={{ caddy_cloudflare_api_token }}
OTEL_SERVICE_NAME={{ caddy_otel_service_name }}
OTEL_METRICS_EXPORTER=otlp
OTEL_EXPORTER_OTLP_PROTOCOL=http/protobuf
OTEL_EXPORTER_OTLP_METRICS_ENDPOINT={{ caddy_otlp_metrics_endpoint }}
OTEL_EXPORTER_OTLP_TRACES_PROTOCOL=grpc
OTEL_EXPORTER_OTLP_TRACES_ENDPOINT={{ caddy_otlp_traces_endpoint }}
OTEL_EXPORTER_OTLP_TRACES_INSECURE=true
