[Unit]
Description=LLDAP
After=network.target

[Service]
Type=simple
User={{ auth_lldap_user }}
Group={{ auth_lldap_user }}
WorkingDirectory={{ auth_lldap_data_dir }}
EnvironmentFile={{ auth_lldap_env_file }}
ExecStart={{ auth_lldap_binary }} run --config-file {{ auth_lldap_config }}
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
