[Unit]
Description=TinyAuth
After=network.target lldap.service
Wants=lldap.service

[Service]
Type=simple
User={{ auth_tinyauth_user }}
Group={{ auth_tinyauth_user }}
WorkingDirectory={{ auth_tinyauth_data_dir }}
EnvironmentFile={{ auth_tinyauth_env_file }}
ExecStart={{ auth_tinyauth_binary }}
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
