TINYAUTH_APPURL={{ tinyauth_app_url }}
TINYAUTH_LABELPROVIDER=none
TINYAUTH_ANALYTICS_ENABLED=false
TINYAUTH_SERVER_ADDRESS=0.0.0.0
TINYAUTH_SERVER_PORT={{ tinyauth_port }}
TINYAUTH_DATABASE_PATH={{ tinyauth_data_dir }}/tinyauth.db
TINYAUTH_AUTH_SECURECOOKIE=true
TINYAUTH_AUTH_TRUSTEDPROXIES={{ tinyauth_trusted_proxies }}
TINYAUTH_LDAP_ADDRESS=ldap://127.0.0.1:{{ lldap_ldap_port }}
TINYAUTH_LDAP_BINDDN={{ lldap_bind_dn }}
TINYAUTH_LDAP_BINDPASSWORD={{ auth_lldap_bind_password }}
TINYAUTH_LDAP_BASEDN={{ lldap_base_dn }}
TINYAUTH_LDAP_SEARCHFILTER=(uid=%s)
TINYAUTH_LDAP_INSECURE=true
TINYAUTH_OIDC_PRIVATEKEYPATH={{ tinyauth_data_dir }}/oidc_key
TINYAUTH_OIDC_PUBLICKEYPATH={{ tinyauth_data_dir }}/oidc_key.pub
{% for client in tinyauth_oidc_clients %}
TINYAUTH_OIDC_CLIENTS_{{ client.env_name }}_CLIENTID={{ client.client_id }}
TINYAUTH_OIDC_CLIENTS_{{ client.env_name }}_CLIENTSECRET={{ client.client_secret }}
TINYAUTH_OIDC_CLIENTS_{{ client.env_name }}_TRUSTEDREDIRECTURIS={{ client.redirect_uri }}
TINYAUTH_OIDC_CLIENTS_{{ client.env_name }}_NAME={{ client.display_name }}
{% endfor %}
