[defaults]
inventory            = inventory/hosts.yml
roles_path           = roles
retry_files_enabled  = false
host_key_checking    = true
interpreter_python   = auto_silent
gathering            = smart
vars_plugins_enabled = host_group_vars,community.sops.sops

[privilege_escalation]
become = true
